
employee {
    /* background-color: aqua; */
    display: table;
    width: 70%;
    margin-left: 40px;
    margin: 20px;
}


employee > * {
    display: table-row;
}


employee > * > * {
    display: table-cell;
    padding: 5px 10px;
    border: 1px solid #ccc;
}


employee > *:first-child {
    font-weight: bold;
    background-color: #f2f2f2;
}


employee > *:nth-child(even) {
    background-color: #f9f9f9;
}
